.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 15px;

  opacity: 1;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $trans-attribute;

  @media screen and (min-width: 480px) {
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity $trans-attribute;
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 450px;

  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  background: $main-beckground-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) and (min-height: 609px) {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.btn-exit-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $main-beckground-color;

  fill: $logo-end-color;

  transition: fill $trans-attribute;

  &:hover,
  &:focus {
    fill: $accent-color;

    transition: fill $trans-attribute;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form > b {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;
}

.form-box {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;
  outline: none;

  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-color;
}

.modal-input {
  width: 100%;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $trans-attribute;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;

    transition: border $trans-attribute;
  }
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: $title-text-color;

  transition: fill $trans-attribute;

  .form-box:hover &,
  .form-box:focus-within & {
    fill: $accent-color;

    transition: fill $trans-attribute;
  }
}

.form-box.comment {
  margin-bottom: 20px;
}

#comment {
  padding: 12px;

  outline: none;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $trans-attribute;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;

    transition: border $trans-attribute;
  }
}

.agreement-box {
  position: relative;
  display: flex;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $text-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
  }
}

.agreement-box a {
  color: $accent-color;
  text-decoration-line: underline;
}

.checkbox-agree {
  opacity: 0;
  margin-right: 8px;
}

.agree-icon {
  position: absolute;
  width: 16px;
  height: 15px;

  top: 0px;
  left: 0px;

  background-image: url(../../images/sdascsadcfasfcsac.svg);

  .checkbox-agree:checked + & {
    background-image: url(../../images/icon-check.svg);
  }

  @media screen and (min-width: 1200px) {
    top: 3px;
    left: 22px;
  }
}

.modal-button {
  padding: 10px 24px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $main-beckground-color;
}
