.backdrop {
  position: fixed;

  z-index: 100;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity $trans-attribute;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transition: opacity $trans-attribute;
}

.modal {
  position: absolute;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* width: 528px;
    height: 581px; */

  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-exit-modal {
  position: absolute;
  top: 17px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  fill: $logo-end-color;

  transition: fill $trans-attribute;

  cursor: pointer;
}

.btn-exit-modal:hover,
.btn-exit-modal:focus {
  fill: $accent-color;

  transition: fill $trans-attribute;
}

.modal-form {
  display: flex;
  flex-direction: column;
  flex-basis: 448px;
}

.modal-form > b {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-color;
}

.form-box {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-color;

  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 27px;

  fill: $title-text-color;

  transition: fill $trans-attribute;
}

.modal-input {
  padding: 10px 12px 10px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $trans-attribute;
}

.modal-input:not(:placeholder-shown),
#comment:not(:placeholder-shown) {
  border: 1px solid $accent-color;
  outline: none;

  transition: border $trans-attribute;
}

.modal-input:not(:placeholder-shown) + .form-icon {
  fill: $accent-color;

  transition: fill $trans-attribute;
}

.modal-input:focus + .form-icon {
  fill: $accent-color;

  transition: fill $trans-attribute;
}

.modal-input:focus,
#comment:focus {
  border: 1px solid $accent-color;
  outline: none;

  transition: border $trans-attribute;
}

.form-box {
  margin-bottom: 10px;
}

.form-box.comment {
  margin-bottom: 20px;
}

#comment {
  box-sizing: border-box;

  resize: none;

  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

#comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.agreement-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  gap: 7px;
}

.agree-icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/sdascsadcfasfcsac.svg);

  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.checkbox-agree:checked + .agree-icon {
  background-image: url(../images/icon-check.svg);
}

.checkbox-agree {
  @extend %visually-hidden;
}

.agreement-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.agreement-box a {
  color: $accent-color;
}

.modal-button {
  display: block;

  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 28px;
  font-family: inherit;
  border: 0;
  border-radius: 4px;
  height: 50px;

  cursor: pointer;

  background-color: $accent-color;
  color: $main-beckground-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
