.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features.section {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features-list > li {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  background: $team-beckground-color;
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-text-color;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $text-color;
}
