.visually-hidden {
  @extend %visually-hidden;
}

.box-filters {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 34px;
}

.working .filters {
  display: block;

  font-family: inherit;

  padding: 6px 22px;
  min-width: 73px;

  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;

  background-color: $team-beckground-color;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color $trans-attribute, color $trans-attribute;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-beckground-color;

    transition: background-color $trans-attribute, color $trans-attribute;
  }
}

.working-title {
  text-align-last: left;
  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.working-text {
  text-align-last: left;

  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.box-working {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  display: block;
  box-shadow: none;

  transition: box-shadow $trans-attribute;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transition: box-shadow $trans-attribute;
  }
}

.person {
  width: 370px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  padding: 20px 24px;
}

.working-trump {
  position: relative;

  overflow: hidden;
}

.working-trump-box {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  opacity: 0;

  transform: translateY(100%);

  transition: opacity $trans-attribute, transform $trans-attribute;

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    opacity: 1;
    transform: translateY(0);

    transition: opacity $trans-attribute, transform $trans-attribute;
  }
}

.working-trump-text {
  display: inline-block;
  width: 322px;

  text-align: left;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #ffffff;
}
